body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background: linear-gradient(#D4145A ,#FBB03B);  
  color: rgba(255,255,255,.75);
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;  
  height: 300px;
  font-size: 180%;
}